    {% extends 'main/layout.html' %}
    {% block title %} home pages {% endblock title %}
	{% load static %}
	{% block content %}


		<section class="flat-row flat-slider">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="slider owl-carousel">
							<div class="slider-item style2">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
									</div>
									<div class="divider65"></div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="{% static 'images/icons/right-2.png' %}" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<div class="sale-off">
										60 % <span>sale</span>
									</div>
									<img src="{% static 'images/slider/03.png' %}" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
										<p>The ship set ground on the shore of this uncharted desert isle
										with Gilligan the Skipper too the millionaire and his story.</p>
									</div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="{% static 'images/icons/right-2.png' %}" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<img src="{% static 'images/slider/01.png' %}" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item style2">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
									</div>
									<div class="divider65"></div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="{% static 'images/icons/right-2.png' %}" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<div class="sale-off">
										60 % <span>sale</span>
									</div>
									<img src="{% static 'images/slider/03.png' %}" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
										<p>The ship set ground on the shore of this uncharted desert isle
										with Gilligan the Skipper too the millionaire and his story.</p>
									</div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="{% static 'images/icons/right-2.png' %}" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<img src="{% static 'images/slider/01.png' %}" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item style2">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
									</div>
									<div class="divider65"></div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="{% static 'images/icons/right-2.png' %}" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<div class="sale-off">
										60 % <span>sale</span>
									</div>
									<img src="{% static 'images/slider/03.png' %}" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
							<div class="slider-item">
								<div class="item-text">
									<div class="header-item">
										<p>Enhanced Technology</p>
										<h2 class="name">SMART <span>TV</span></h2>
										<p>The ship set ground on the shore of this uncharted desert isle
										with Gilligan the Skipper too the millionaire and his story.</p>
									</div>
									<div class="content-item">
										<div class="price">
											<span class="sale">$1.589.99</span>
											<span class="btn-shop">
												<a href="#" title="">SHOP NOW <img src="{% static 'images/icons/right-2.png' %}" alt=""></a>
											</span>
											<div class="clearfix"></div>
										</div>
										<div class="regular">
											$2.500.99
										</div>
									</div>
								</div>
								<div class="item-image">
									<img src="{% static 'images/slider/01.png' %}" alt="">
								</div>
								<div class="clearfix"></div>
							</div><!-- /.slider -->
						</div><!-- /.slider -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-slider -->

		<section class="flat-row flat-banner-box">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="banner-box one-half">
							<div class="inner-box">
								<a href="#" title="">
									<img src="{% static 'images/banner_boxes/home-01.jpg' %}" alt="">
								</a>
							</div><!-- /.inner-box -->
							<div class="inner-box">
								<a href="#" title="">
									<img src="{% static 'images/banner_boxes/home-05.jpg' %}" alt="">
								</a>
							</div><!-- /.inner-box -->
							<div class="clearfix"></div>
						</div><!-- /.box -->
						<div class="banner-box">
							<div class="inner-box">
								<a href="#" title="">
									<img src="{% static 'images/banner_boxes/home-04.jpg' %}" alt="">
								</a>
							</div>
						</div><!-- /.box -->
					</div><!-- /.col-md-8 -->
					<div class="col-md-4">
						<div class="banner-box">
							<div class="inner-box">
								<a href="#" title="">
									<img src="{% static 'images/banner_boxes/home-03.jpg' %}" alt="">
								</a>
							</div><!-- /.inner-box -->
						</div><!-- /.box -->
					</div><!-- /.col-md-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-banner-box -->

		<section class="flat-imagebox">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-list">
								<li class="active">Yeni Məhsullar</li>
							</ul>
						</div><!-- /.product-tab -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="box-product">
					<div class="row">
						<div class="col-lg-12 col-sm-6">
							{% for product in products %}
							<div class="product-box" style="display: inline-block; width: 22%; height: 470px;margin-bottom:0px !important;margin-right: 15px;">
								<div class="imagebox">
									<ul class="box-image owl-carousel-1">
										{% if product.primary_photo %}
											<li>
												<a href="#" title="">
													<img style="height: 160px;" src="{{ product.primary_photo.url }}" alt="Product Photo 4">
												</a>
											</li>
										{% endif %}
										{% if product.photo1 %}
											<li>
												<a href="#" title="">
													<img style="height: 160px;" src="{{ product.photo1.url }}" alt="Product Photo 4">
												</a>
											</li>
										{% endif %}
										{% if product.photo2 %}
											<li>
												<a href="#" title="">
													<img style="height: 160px;" src="{{ product.photo2.url }}" alt="Product Photo 4">
												</a>
											</li>
										{% endif %}
										{% if product.photo3 %}
											<li>
												<a href="#" title="">
													<img style="height: 160px;" src="{{ product.photo3.url }}" alt="Product Photo 4">
												</a>
											</li>
										{% endif %}
										{% if product.photo4 %}
											<li>
												<a href="#" title="">
													<img style="height: 160px;" src="{{ product.photo4.url }}" alt="Product Photo 4">
												</a>
											</li>
										{% endif %}
									</ul><!-- /.box-image -->
									<div class="box-content">
										<div class="cat-name">
											<a href="#" title="">{{ product.sub_sub_category.title }}</a>
										</div>
										<div class="product-name">
											<a href="{% url 'product_detail' product_slug=product.slug %}" title="{{ product.title }}">{{ product.title }}</a>
										</div>
										<div class="price">
											<span class="sale">${{ product.sale_price }}</span>
											<span class="regular">${{ product.regular_price }}</span>
										</div>
									</div><!-- /.box-content -->
									<div class="box-bottom">										
										<div class="btn-add-cart">
											<form method="post" action="{% url 'sepete_ekle' product_id=product.id %}">
												{% csrf_token %}
												<button type="submit">
													<img src="{% static 'images/icons/add-cart.png' %}" alt="">	Səbətə Əlavə et
												</button>
											</form>
										</div>
										<div class="compare-wishlist">
											<a href="#" class="compare" title="">
												<img src="{% static 'images/icons/compare.png' %}" alt="">Muqayisə
											</a>
											<a href="#" class="wishlist" title="">
												<img src="{% static 'images/icons/wishlist.png' %}" alt="">Arzu Siyahisi
											</a>
										</div>
									</div><!-- /.box-bottom -->
								</div><!-- /.imagebox -->
							</div>	
						{% endfor %}	
						</div><!-- /.col-lg-3 col-sm-6 -->
					</div><!-- /.row -->
				</div><!-- /.box-product -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox -->

		<section class="flat-imagebox style1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title">
							<h3>Digər Məhsullar</h3>
						</div>
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row ">
					<div class="col-md-12 owl-carousel-10">
						{% for random_product in random_products %}
						<div class="owl-carousel-item">
							<div class="product-box style1" style="height: 288px;">
								<div class="imagebox style1">
									<div class="box-image">
										{% if random_product.primary_photo %}
											<a href="#" title="">
												<img style="height: 150px;" src="{{ random_product.primary_photo.url }}" alt="Product Photo 4">
											</a>									
									    {% endif %}
									</div><!-- /.box-image -->
									<div class="box-content">
										<div class="cat-name">
											<a href="#" title="">{{ random_product.sub_sub_category.title }}</a>
										</div>
										<div class="product-name">
											<a href="{% url 'product_detail' product_slug=random_product.slug %}" title="{{ random_product.title }}">{{ random_product.title }}</a>
										</div>											
										<div class="price">
											<span class="regular">{{ random_product.sale_price }}<i class="fa-solid fa-manat-sign" style="margin-left: 5px;font-size: 14px;"></i></span>
											<span class="sale">{{ random_product.regular_price }}<i class="fa-solid fa-manat-sign" style="margin-left: 5px;font-size: 19px;"></i></span>
										</div>
									</div><!-- /.box-content -->
									<div class="box-bottom">
										<div class="compare-wishlist">
											<a href="#" class="compare" title="">
												<img src="{% static 'images/icons/compare.png' %}" alt="">Muqayisə
											</a>
											<a href="#" class="wishlist" title="">
												<img src="{% static 'images/icons/wishlist.png' %}" alt="">Arzu Siyahisi
											</a>
										</div>
										<div class="btn-add-cart">
											<form method="post" action="{% url 'sepete_ekle' product_id=random_product.id %}">
												{% csrf_token %}
												<button type="submit" style="width: 204px; margin-top: 5px;">
													<img src="{% static 'images/icons/add-cart.png' %}" alt="">	Səbətə Əlavə et
												</button>
											</form>
										</div>
									</div><!-- /.box-bottom -->
								</div><!-- /.imagebox style1 -->
							</div><!-- /.product-box style1 -->
						</div><!-- /.owl-carousel-item -->
						{% endfor %}
					</div>
					
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style1 -->

		<section class="flat-imagebox style2 background">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="product-wrap">
							<div class="product-tab style1">
								<ul class="tab-list">
									{% for category in categories %}
										{% if not category.parent %}
											<li class="category-link" data-category-slug="{{ category.slug }}" >{{ category.title }}</li>
										{% endif %}   
									{% endfor %}
								</ul><!-- /.tab-list -->
							</div><!-- /.product-tab style1 -->
							<div class="tab-item">
								<div class="row">
									<div id="product-list-container" style="width: 100%;">
										<div class="col-md-12 col-sm-6" id="product-container">
										
										</div><!-- /.col-md-3 col-sm-6 -->
									</div>
								</div><!-- /.row -->
				
							</div><!-- /.tab-item -->
						</div><!-- /.product-wrap -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style2 -->

		<section class="flat-imagebox style3">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel-2">
							<div class="box-counter">
								<div class="counter">
									<span class="special">Special Offer</span>
									<div class="counter-content">
										<p>There are many variations of passages of Lorem Ipsum available, but the majorited have suffered alteration.</p>
										<div class="count-down">
											<div class="square">
												<div class="numb">
													14
												</div>
												<div class="text">
													DAYS
												</div>
											</div>
											<div class="square">
												<div class="numb">
													09
												</div>
												<div class="text">
													HOURS
												</div>
											</div>
											<div class="square">
												<div class="numb">
													48
												</div>
												<div class="text">
													MINS
												</div>
											</div>
											<div class="square">
												<div class="numb">
													23
												</div>
												<div class="text">
													SECS
												</div>
											</div>
										</div><!-- /.count-down -->
									</div><!-- /.counter-content -->
								</div><!-- /.counter -->
								<div class="product-item">
									<div class="imagebox style3">
										<div class="box-image save">
											<a href="#" title="">
												<img src="{% static 'images/product/other/l06.jpg' %}" alt="">
											</a>
											<span>Save $85.00</span>
										</div><!-- /.box-image -->
										<div class="box-content">
											<div class="product-name">
												<a href="#" title="">27-inch iMac with Retina 5K display</a>
											</div>
											<ul class="product-info">
												<li>3.3GHz quad-core Intel Core i5 processor</li>
												<li>Turbo Boost up to 3.9GHz</li>
												<li>8GB (two 4GB) memory, configurable up to 32GB</li>
												<li>2TB Fusion Drive1</li>
												<li>AMD Radeon R9 M395 with 2GB video memory</li>
												<li>Retina 5K 5120-by-2880 P3 display</li>
											</ul>
											<div class="price">
												<span class="sale">$2,299.00</span>
												<span class="regular">$2,999.00</span>
											</div>
										</div><!-- /.box-content -->
										<div class="box-bottom">
											<div class="btn-add-cart">
												<a href="#" title="">
													<img src="{% static 'images/icons/add-cart.png' %}" alt="">Add to Cart
												</a>
											</div>
											<div class="compare-wishlist">
												<a href="#" class="compare" title="">
													<img src="{% static 'images/icons/compare.png' %}" alt="">Compare
												</a>
												<a href="#" class="wishlist" title="">
													<img src="{% static 'images/icons/wishlist.png' %}" alt="">Wishlist
												</a>
											</div>
										</div><!-- /.box-bottom -->
									</div><!-- /.imagbox style3 -->
								</div><!-- /.product-item -->
							</div><!-- /.box-counter -->
							<div class="box-counter">
								<div class="counter">
									<span class="special">Special Offer</span>
									<div class="counter-content">
										<p>There are many variations of passages of Lorem Ipsum available, but the majorited have suffered alteration.</p>
										<div class="count-down">
											<div class="square">
												<div class="numb">
													14
												</div>
												<div class="text">
													DAYS
												</div>
											</div>
											<div class="square">
												<div class="numb">
													09
												</div>
												<div class="text">
													HOURS
												</div>
											</div>
											<div class="square">
												<div class="numb">
													48
												</div>
												<div class="text">
													MINS
												</div>
											</div>
											<div class="square">
												<div class="numb">
													23
												</div>
												<div class="text">
													SECS
												</div>
											</div>
										</div><!-- /.count-down -->
									</div><!-- /.counter-content -->
								</div><!-- /.counter -->
								<div class="product-item">
									<div class="imagebox style3">
										<div class="box-image save">
											<a href="#" title="">
												<img src="{% static 'images/product/other/l06.jpg' %}" alt="">
											</a>
											<span>Save $105.00</span>
										</div><!-- /.box-image -->
										<div class="box-content">
											<div class="product-name">
												<a href="#" title="">27-inch iMac with Retina 5K display</a>
											</div>
											<ul class="product-info">
												<li>3.3GHz quad-core Intel Core i5 processor</li>
												<li>Turbo Boost up to 3.9GHz</li>
												<li>8GB (two 4GB) memory, configurable up to 32GB</li>
												<li>2TB Fusion Drive1</li>
												<li>AMD Radeon R9 M395 with 2GB video memory</li>
												<li>Retina 5K 5120-by-2880 P3 display</li>
											</ul>
											<div class="price">
												<span class="sale">$5,599.00</span>
												<span class="regular">$2,999.00</span>
											</div>
										</div><!-- /.box-content -->
										<div class="box-bottom">
											<div class="btn-add-cart">
												<a href="#" title="">
													<img src="{% static 'images/icons/add-cart.png' %}" alt="">Add to Cart
												</a>
											</div>
											<div class="compare-wishlist">
												<a href="#" class="compare" title="">
													<img src="{% static 'images/icons/compare.png' %}" alt="">Compare
												</a>
												<a href="#" class="wishlist" title="">
													<img src="{% static 'images/icons/wishlist.png' %}" alt="">Wishlist
												</a>
											</div>
										</div><!-- /.box-bottom -->
									</div><!-- /.imagbox style3 -->
								</div><!-- /.product-item -->
							</div><!-- /.box-counter -->
						</div><!-- /.owl-carousel-2 -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style3 -->

		<section class="flat-imagebox style4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="flat-row-title">
							<h3>Trend Məhsullar</h3>
						</div>
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel-3">
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/09.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$50.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/10.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$600.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/11.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
									</div>
									<div class="price">
										<span class="sale">$1,023.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/12.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$1,489.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/13.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
									</div>
									<div class="price">
										<span class="sale">$1,749.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/09.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$50.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/10.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$600.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/11.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
									</div>
									<div class="price">
										<span class="sale">$1,023.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/12.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$1,489.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/13.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
									</div>
									<div class="price">
										<span class="sale">$1,749.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/09.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$50.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/10.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$600.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/11.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
									</div>
									<div class="price">
										<span class="sale">$1,023.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/12.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$1,489.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/13.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
									</div>
									<div class="price">
										<span class="sale">$1,749.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/09.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$50.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/10.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$600.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/11.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
									</div>
									<div class="price">
										<span class="sale">$1,023.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/12.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$1,489.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/13.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
									</div>
									<div class="price">
										<span class="sale">$1,749.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/09.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$50.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/10.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$600.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/11.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
									</div>
									<div class="price">
										<span class="sale">$1,023.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/12.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$1,489.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/13.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
									</div>
									<div class="price">
										<span class="sale">$1,749.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/09.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$50.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/10.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$600.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/11.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats Pill+ Portable<br />Speaker - (PRODUCT)RED</a>
									</div>
									<div class="price">
										<span class="sale">$1,023.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/12.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Apple iPad Mini<br />G2356</a>
									</div>
									<div class="price">
										<span class="sale">$1,489.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
							<div class="imagebox style4">
								<div class="box-image">
									<a href="#" title="">
										<img src="{% static 'images/product/other/13.jpg' %}" alt="">
									</a>
								</div><!-- /.box-image -->
								<div class="box-content">
									<div class="cat-name">
										<a href="#" title="">Laptops</a>
									</div>
									<div class="product-name">
										<a href="#" title="">Beats EP On-Ear<br />Headphones - Blue</a>
									</div>
									<div class="price">
										<span class="sale">$1,749.00</span>
										<span class="regular">$2,999.00</span>
									</div>
								</div><!-- /.box-content -->
							</div><!-- /.imagebox style4 -->
						</div><!-- /.owl-carousel-3 -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-imagebox style4 -->

		<section class="flat-iconbox">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="iconbox">
							<div class="box-header">
								<div class="image">
									<img src="{% static 'images/icons/car.png' %}" alt="">
								</div>
								<div class="box-title">
									<h3>Worldwide Shipping</h3>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>Free Shipping On Order Over $100</p>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox -->
					</div><!-- /.col-md-3 col-sm-6 -->
					<div class="col-md-3 col-sm-6">
						<div class="iconbox">
							<div class="box-header">
								<div class="image">
									<img src="{% static 'images/icons/order.png' %}" alt="">
								</div>
								<div class="box-title">
									<h3>Order Online Service</h3>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>Free return products in 30 days</p>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox -->
					</div><!-- /.col-md-3 col-sm-6 -->
					<div class="col-md-3 col-sm-6">
						<div class="iconbox">
							<div class="box-header">
								<div class="image">
									<img src="{% static 'images/icons/payment.png' %}" alt="">
								</div>
								<div class="box-title">
									<h3>Payment</h3>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>Secure System</p>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox -->
					</div><!-- /.col-md-3 col-sm-6 -->
					<div class="col-md-3 col-sm-6">
						<div class="iconbox">
							<div class="box-header">
								<div class="image">
									<img src="{% static 'images/icons/return.png' %}" alt="">
								</div>
								<div class="box-title">
									<h3>Return 30 Days</h3>
								</div>
							</div><!-- /.box-header -->
							<div class="box-content">
								<p>Free return products in 30 days</p>
							</div><!-- /.box-content -->
						</div><!-- /.iconbox -->
					</div><!-- /.col-md-3 col-sm-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-iconbox -->
	
	{% endblock %}
	